
<h1>Welcome back, <%= @user.first_name%></h1>
<div><h3>All Errands</h3></div>
<div><h3>My Errands</h3></div>
<div><h3>My Ran Errands</h3></div>
<div><h3><%= link_to "Edit My Profile", edit_user_path(@user) %></h3></div>
