<div class='container'>
  <h2>Welcome to Errand Runner</h2>
  <h5>Where we juggle your errands for you!</h5>

  <div class="row justify-content-center">
    <div class='col-md-6'>
      <img class="img-fluid" alt="Responsive image" src="https://cdn.dribbble.com/users/870536/screenshots/3733019/animation.gif" />
    </div>
  </div>
</div>